html
	head
		include includes/header.pug
	body
		if (currentUser.username === 'brammieboy' || currentUser.username === 'selma2202' || currentUser.username ==='admin')
			div.container
				h2.headfont Welcome, admin!
				h5= message
				p How lovely that you have found inspiration, add new goals for your users here.
				h5 New goal
				form(action='/admin' method='post' autocomplete='off')
					br
					div.input-field
						input(name='title' type='text' placeholder='Title of task' max-length= '50' class='validate' autofocus required)
						label Title 
					br
					div.input-field
						input(name='description' type='text' placeholder='Description of task' class='validate' required)
						label Description 
					br
					div.input-field
						input(name='duration' placeholder='Duration of task (in minutes)' type='number' min="0" step="5" class='validate' required)
						label Duration 					
					br
					label.nonformLabel Difficulty
					div.input-field
						input(type='radio' name='difficulty' id='easy' value='easy' class='validate' required)
						label(for='easy') Easy
						br
						input(type='radio' name='difficulty' id='medium' value='medium' class='validate' required) 
						label(for='medium') Medium
						br
						input(type='radio' name='difficulty' id='hard' value='hard' class='validate' required) 
						label(for='hard') Hard
					br
					br
					div.input-field
						input(name='points' type='number' min="0" step="5" placeholder='Points of task' class='validate' required)
						label Points 
					br
					//- zou nog cool zijn als de admin de coordinaten op een kaartje kan aangeven
					div.input-field
							input(name='lat' type='text' placeholder='Latitude' max-length= '50' class='validate' required)
							label Latitude
					br
					div.input-field
						input(name='lng' type='text' placeholder='Longitude' max-length= '50' class='validate' required)
						label Longitude 
					br
					input(type='submit' value='Create goal' id='submit')
					br
					br
					br
				h5 Existing goals
			table.striped.highlight.responsive-table
					thead
						tr
							th(data-field='id') ID
							th(data-field='title') Title
							th(data-field='description') Description
							th(data-field='duration') Duration
							th(data-field='difficulty') Difficulty
							th(data-field='points') Points
							th(data-field='lat') Latitude
							th(data-field='lng') Longitude
							th(data-field='createdat') CreatedAt
							th(data-field='updatedat') UpdatedAt
							th(data-field='edit') Edit 
							th(data-field='delete') Delete
					tbody
						each goal in goals
							tr
								td #{goal.id}
								td #{goal.title}
								td #{goal.description}
								td #{goal.duration}
								td #{goal.difficulty}
								td #{goal.points}
								td #{goal.lat}
								td #{goal.lng}
								td #{goal.createdAt}
								td #{goal.updatedAt}
								td 
									a(href='admin-editgoal?id=' + goal.id) Edit
								td 
									form(action=('/deletegoal?id=' + goal.id) method='post' autocomplete='off')
										input(type='submit' value='Delete' id='deletegoal')
				



			//- h2= message
			//- H3 Leaderboard
			//- p Our best three players currently are: 
			//- 	each thing in userRankLoggedout
			//- 		ul
			//- 			li - #{thing.username}: #{thing.score} points.
			//- 	p ...
			//- p
			//- | Think you can beat 'em? Please 
			//- a(href='login') login
			//- |  or 
			//- a(href='register') register
			//- |  to see all scores and compete!



		else
			div.container
				h2.headfont Oops!
				p 
					| It seems you are not an admin. Do you perhaps wish to 
					a(href='leaderboard') view the leaderboard
					| , 
					a(href='profile') edit your own profile 
					| or 
					a(href='goaloverview') view all goals
					| ?

				h3 We're really sorry about this.
				if (currentUser.kindOfPerson == 'cat')
					p Since you like cats so much, here is a picture of a sad cat:
					img(src='images/sadcat.png' style="width:400px" class='circle')
				else
					p Since you like dogs so much, here is a picture of a sad dog:
					img(src='images/saddog.jpg' style="width:400px" class='circle')
				//-nog laten redirecten, met vertraging, naar home
		main
		include includes/footer.pug



