html
	head
		include includes/header.pug
	body
		if (currentUser.username === 'brammieboy' || currentUser.username === 'selma2202' || currentUser.username ==='admin')
			h2.headfont Welcome, admin!
			h5= message
			p How lovely that you have found inspiration, add new goals for your users here.
			h3 New goal
			form(action='/admin' method='post' autocomplete='off')
				label Title 
				br
				input(name='title' type='text' placeholder='Title of task' max-length= '50' autofocus required)
				br
				br
				label Description 
				br
				input(name='description' type='text' placeholder='Description of task' required)
				br
				br
				label Duration 
				br
				input(name='duration' type='number' min="0" step="5" required)
				br
				br
				label Difficulty
				br
				input(type='radio' name='difficulty' id='easy' value='easy' required)
				label(for='easy') Easy
				br
				input(type='radio' name='difficulty' id='medium' value='medium' required) 
				label(for='medium') Medium
				br
				input(type='radio' name='difficulty' id='hard' value='hard' required) 
				label(for='hard') Hard
				br
				br
				label Points 
				br
				input(name='points' type='number' min="0" step="5" required)
				br
				br
				//- zou nog cool zijn als de admin de coordinaten op een kaartje kan aangeven
				label Latitude
				br
				input(name='lat' type='text' placeholder='Latitude' max-length= '50'  required)
				br
				label Longitude 
				br
				input(name='lng' type='text' placeholder='Longitude' max-length= '50'  required)
				br
				input(type='submit' value='Create goal' id='submit')
				br
				br
			h3 Goals
			table.striped.highlight.responsive-table
					thead
						tr
							th(data-field='id') ID
							th(data-field='title') Title
							th(data-field='description') Description
							th(data-field='duration') Duration
							th(data-field='difficulty') Difficulty
							th(data-field='points') Points
							th(data-field='lat') Latitude
							th(data-field='lng') Longitude
							th(data-field='createdat') CreatedAt
							th(data-field='updatedat') UpdatedAt
							th(data-field='edit') Edit 
							th(data-field='delete') Delete
					tbody
						each goal in goals
							tr
								td #{goal.id}
								td #{goal.title}
								td #{goal.description}
								td #{goal.duration}
								td #{goal.difficulty}
								td #{goal.points}
								td #{goal.lat}
								td #{goal.lng}
								td #{goal.createdAt}
								td #{goal.updatedAt}
								td 
									a(href='admin-editgoal?id=' + goal.id) Edit
								td 
									form(action=('/deletegoal?id=' + goal.id) method='post' autocomplete='off')
										input(type='submit' value='Delete' id='deletegoal')
				



			//- h2= message
			//- H3 Leaderboard
			//- p Our best three players currently are: 
			//- 	each thing in userRankLoggedout
			//- 		ul
			//- 			li - #{thing.username}: #{thing.score} points.
			//- 	p ...
			//- p
			//- | Think you can beat 'em? Please 
			//- a(href='login') login
			//- |  or 
			//- a(href='register') register
			//- |  to see all scores and compete!



		else
			h2.headfont Oops!
			p 
				| It seems you are not an admin. Do you perhaps wish to 
				a(href='leaderboard') view the leaderboard
				| , 
				a(href='profile') edit your own profile 
				| or 
				a(href='goaloverview') view all goals
				| ?

			h3 We're really sorry about this.
			if (currentUser.kindOfPerson == 'cat')
				p Since you like cats so much, here is a picture of a sad cat:
				img(src='images/sadcat.png' style="width:400px" class='circle')
			else
				p Since you like dogs so much, here is a picture of a sad dog:
				img(src='images/saddog.jpg' style="width:400px" class='circle')
			//-nog laten redirecten, met vertraging, naar home
		main
		include includes/footer.pug



