html
	head
		if (currentUser === undefined)
			include includes/header-loggedout.pug
		else
			include includes/header.pug
	body
		div.container
			if (currentUser === undefined)
				H2 Leaderboard
				h5 Individual ranking
				p Our best three players currently are: 

				table.striped.highlight.responsive-table
					thead
						tr
							th(data-field='user') User
							th(data-field='team') Team
							th(data-field='points') Points
					tbody
						each thing in userRankLoggedout
							tr
								td 
									a(href='publicprofile?id=' + thing.id) #{thing.username}
								td #{thing.kindOfPerson}
								td #{thing.score}		
				p
					| Think you can beat 'em? Please 
					a(href='login') login
					|  or 
					a(href='register') register
					|  to see all scores and compete!



			else
				H2 Leaderboard
				h5 Team ranking
				p Team cat: #{catscore}
				p Team dog: #{dogscore}
				if (currentUser.kindOfPerson == 'cat')
					- var catPercentage = currentUser.score / catscore * 100
					p You contributed #{currentUser.score} points to Team #{currentUser.kindOfPerson} (#{catPercentage}%).
				if (currentUser.kindOfPerson == 'dog')
					- var dogPercentage = currentUser.score / dogscore * 100
					p You contributed #{currentUser.score} points to Team #{currentUser.kindOfPerson} (#{dogPercentage}%).


				h5 Individual ranking
				p Hi #{currentUser.username}, see how you compare.

				table.striped.highlight.responsive-table
					thead
						tr
							th(data-field='user') User
							th(data-field='team') Team
							th(data-field='points') Points
					tbody
						each thing in userRank
							tr
								if (thing.username == currentUser.username)
									td
										a(href='publicprofile?id=' + thing.id) 
											strong YOU!
								else
									td
										a(href='publicprofile?id=' + thing.id) #{thing.username}

								 
									
								td #{thing.kindOfPerson}
								td #{thing.score}	

				p 
					| Think you can beat 'em? Climb up the leaderboard by 
					a(href='goaloverview') completing some more goals around you
					| .
		main
		include includes/footer.pug






		






		