html
	head
		include includes/header.pug
	body
		div.container
			div.row
				div.col.s12
					H2.headfont Welcome, #{currentUser.username}!
					h5= message			
			div.row.rowbackgr
				div.col.s12
					h6 
						| Here you can view and edit your information. Only you can see this page. To see how other members view your profile, 
						a(href='publicprofile?id=' + currentUser.id) click here
						| .
					
			div.row.rowbackgr
				div.col.s12.m6.l6
					p 
						strong Your username: 
					h5.profileIndent #{currentUser.username}
					p 
						strong Your team: 
					h5.profileIndent you are a #{currentUser.kindOfPerson} person
					p
						strong Your current score: 
					h5.profileIndent #{currentUser.score}
					p
						strong View how you rank on the 
					h5.profileIndent
						a(href='leaderboard') leaderboard 
						//- Nog een unordered list van maken, maar die is momenteel niet zichtbaar in materialize
					
		
				div.col.s12.m6.l6
					p
						strong Your finished goals:
					each thing in completedGoals
						p.profileIndent 
							i.tiny.material-icons done 
							| #{thing.goal.title}: #{thing.goal.points} points.
					p 
						strong Want to see more here? 
					h5.profileIndent
						a(href='goaloverview') Complete more goals
					//- Nog een unordered list van maken, maar die is momenteel niet zichtbaar in materialize

			div.row
				div.col.s12
					h4 Edit profile
			div.row.rowbackgr
				div.col.s12.m6.l6
					if (currentUser.kindOfPerson == 'cat' && currentUser.profifo.length === 0)
						img(src='images/catperson.jpg' class='circle profifo')

					else if (currentUser.kindOfPerson == 'dog' && currentUser.profifo.length === 0)
						img(src='images/dogperson.jpg' class='circle profifo')

					else 
						img(src=currentUser.profifo, class='circle profifo')

				div.col.s12.m6.l6
					p
						strong Profile picture
						br
						em Change your profile picture
						form(action='/newpic' method='post' id='uploadForm' enctype="multipart/form-data")
							| Select a file: 
							input(type='file', name='newpic')
							br
							input(type='submit')




			div.row.rowbackgr
				div.col.s12.m6.l6
					p 
						strong Bio
					h5.profileIndent "#{currentUser.bio}"
					form(action='/newbio' method='post' autocomplete='off')
						label Change your bio
						input(name='newbio' type='text' placeholder='Your new bio' required)
						input(type='submit' value='Change bio' id='submitnewbio')
					br

				div.col.s12.m6.l6
					p 
						strong Date of birth 
					h5.profileIndent #{currentUser.dob}

					form(action='/newdob' method='post' autocomplete='off')
						label Change your date of birth
						input(name='newdob' type='date' required)
						input(type='submit' value='Change date of birth' id='submitnewdob')
					br

			div.row.rowbackgr
				div.col.s12.m6.l6
					p
						strong Email address 
					h5.profileIndent #{currentUser.email}
					form(action='/newemail' method='post' autocomplete='off')
						label Change your email address
						input(name='newemail' type='email' placeholder='yournew@emailaddress.com' min-length = '3' required)
						input(type='submit' value='Change e-mail' id='submitnewemail')
					br

				div.col.s12.m6.l6
					p
						strong Password
					p To change your password, first please add your old password.
					form(action='/newpassword' method='post' autocomplete='off')
						label Change password
						input(name='oldpassword' type='password' placeholder='Your old password' required)
						input(name='newpassword' type='password' placeholder='Your new password' min-length = '8' required)
						input(name='newpassword2' type='password' placeholder='Confirm your new password' min-length = '8' required)
						input(type='submit' value='Change password' id='submitnewpassword')

			div.row.rowbackgr
				div.col.s12.m6.l6
					p
						strong Delete profile
					p Are you sure? We'd hate to see you go!
					p 
						| This action is irreversible. We require your password before confirmation
					form(action='/deleteaccount' method='post' autocomplete='off')
						label Password
						input(name='oldpassword' type='password' placeholder='Your password' required)
						input(type='submit' value='Delete profile' id='submitnewpassword')
					br

		main
		include includes/footer.pug


