html
	head
		include includes/header.pug
	body
		div.container
			if (goalsByUser[0] === undefined)
				div.row
					div.col.s12
						h2 Oops!
				div.row.rowbackgr
					div.col.s12
						p 
							| It seems page you are looking for can not be found. Do you perhaps wish to 
							a(href='leaderboard') view the leaderboard
							| , 
							a(href='profile') edit your own profile 
							| or 
							a(href='goaloverview') view all goals
							| ?

						h3 We're really sorry about this.
						if (currentUser.kindOfPerson == 'cat')
							p Since you like cats so much, here is a picture of a sad cat:
							img(src='images/sadcat.png'  class='circle profifo')
						else
							p Since you like dogs so much, here is a picture of a sad dog:
							img(src='images/saddog.jpg'  class='circle profifo')


							//- This part is only ever visible when the user is logged in, therefore the option login or register is unnecessary

			else
				div.row
					div.col.s12
						h2 #{goalsByUser[0].user.username}'s profile
						h4= message

				div.row.rowbackgr
					div.col.s12.m6.l6
						h4 #{goalsByUser[0].user.username}
						h5 "#{goalsByUser[0].user.bio}"
						p Age: (hier nog datumnotatie omzetten) #{goalsByUser[0].user.dob}
						if goalsByUser[0].user.id === currentUser.id
							div.highlighted
								p
									i.medium.material-icons.bulbleft lightbulb_outline
									| Is this information incorrect? 
									a(href='profile') Click here 
									| to change your personal details.

					div.col.s12.m6.l6
						if (goalsByUser[0].user.kindOfPerson == 'cat' && goalsByUser[0].user.profifo.length === 0)
							img(src='images/catperson.jpg' class='circle profifo')

						else if (goalsByUser[0].user.kindOfPerson == 'dog' && goalsByUser[0].user.profifo.length === 0)
							img(src='images/dogperson.jpg' class='circle profifo')

						else 
							img(src=goalsByUser[0].user.profifo, class='circle profifo')
				div.row
					div.col.s12
						h4 Game achievements:
				div.row.rowbackgr
					div.col.s12.m6.l6
						p 
							strong Playing for team: 
						h5 #{goalsByUser[0].user.kindOfPerson}
						p 
							strong Current score: 
						h5 #{goalsByUser[0].user.score}
					div.col.s12.m6.l6
						p 
							//- - for (var i = 0; i < 10; ++i) {
							//- #{goalsByUser[i].goal.title} for #{goalsByUser[i].goal.points} points completed on #{goalsByUser[i].createdAt}
							//- }
							//- each goalbyuser in GoalsByUser
							//- 	p #{goalbyuser.goal.title} for #{goalbyuser.goal.points} points completed on #{goalbyuser.createdAt}
							//- | #{goalsByUser[0].goal.title} for #{goalsByUser[0].goal.points} points completed on #{goalsByUser[0].createdAt}
							each thing in goalsByUser
								p 
									i.tiny.material-icons done 
									| #{thing.goal.title} for #{thing.goal.points} points completed on #{thing.createdAt}
							//- | #{goalsByUser[0].goal.title} for #{goalsByUser[0].goal.points} points completed on #{goalsByUser[0].createdAt}
							//- |  #{goalsByUser[1].goal.title} 
							//- | #{goalsByUser[2].goal.title} 
							//- | #{goalsByUser[3].goal.title} 
							//- | #{goalsByUser[4].goal.title} 
							//- | #{goalsByUser.goal.title} for #{goalsByUser[2].goal.points} points completed on #{goalsByUser[3].createdAt}

		main
		include includes/footer.pug


