html
	head
		include includes/header.pug
	body
		div.container
			if (goalsByUser[0] === undefined)
				div.row
					div.col.s12
						h2.headfont Oops!
				div.row.rowbackgr
					div.col.s12
						p 
							| It seems page you are looking for can not be found. Do you perhaps wish to 
							a(href='leaderboard') view the leaderboard
							| , 
							a(href='profile') edit your own profile 
							| or 
							a(href='goaloverview') view all goals
							| ?

						h3 We're really sorry about this.
						if (currentUser.kindOfPerson == 'cat')
							p Since you like cats so much, here is a picture of a sad cat:
							img(src='images/sadcat.png'  class='circle profifo')
						else
							p Since you like dogs so much, here is a picture of a sad dog:
							img(src='images/saddog.jpg'  class='circle profifo')


							//- This part is only ever visible when the user is logged in, therefore the option login or register is unnecessary

			else
				div.row
					div.col.s12
						h2.headfont.center-align #{goalsByUser[0].user.username}'s profile
						h5= message

				div.row.rowbackgr
					div.col.s12.m6.l6.right-align
						h4 About #{goalsByUser[0].user.username}
						h5 "#{goalsByUser[0].user.bio}"
						if (goalsByUser[0].user.kindOfPerson == 'cat' && goalsByUser[0].user.profifo.length === 0)
							img(src='images/catperson.jpg' class='circle profifo')

						else if (goalsByUser[0].user.kindOfPerson == 'dog' && goalsByUser[0].user.profifo.length === 0)
							img(src='images/dogperson.jpg' class='circle profifo')

						else 
							img(src=goalsByUser[0].user.profifo, class='circle profifo')
						if goalsByUser[0].user.id === currentUser.id
							
							p
								em Is this information incorrect? 
								em
									a(href='profile') Click here 
								em to change your personal details.

					div.col.s12.m6.l6
						h4 Game achievements:
						p 
							strong Playing for team: 
						h5 #{goalsByUser[0].user.kindOfPerson}
						p 
							strong Current score: 
						h5 #{goalsByUser[0].user.score}
						p 
							strong Completed goals:
							each thing in goalsByUser
								p 
									i.tiny.material-icons done 
									| #{thing.goal.title} for #{thing.goal.points} points completed on #{thing.createdAt}
						


		main
		include includes/footer.pug


